RankingForms/Service References/ServiceReference1/PPIJCloudService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ottoservice.cloudapp.net/PPIJCloudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPitanjeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPitanjeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="GetPitanjeByIDResult" nillable="true" type="q3:Pitanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapaOdgovorByIDpitanja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapaOdgovorByIDpitanjaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="GetMapaOdgovorByIDpitanjaResult" nillable="true" type="q4:MapaOdgovor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlikaOdgovorByIDpitanja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlikaOdgovorByIDpitanjaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="GetSlikaOdgovorByIDpitanjaResult" nillable="true" type="q5:SlikaOdgovor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTekstOdgovorByIDpitanja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTekstOdgovorByIDpitanjaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="GetTekstOdgovorByIDpitanjaResult" nillable="true" type="q6:TekstOdgovor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPitanjaByIDkategorije">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPitanjaByIDkategorijeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PPIJServiceWebRole" minOccurs="0" name="GetPitanjaByIDkategorijeResult" nillable="true" type="q7:Pitanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>